/* smartphone */
@media (min-width: 100px) { 
	body {
        font-family: 'Roboto';
        background-color: #ebebeb;
        width: 100%; /* ancho del viewport */
        margin: 0;
    }
    
    header {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        width: 100%;
    }

    /* .header-top {
        width: 100%;
        display: flex;
        align-items: center;
    } */

    main {
        width: 100%;
    }
    .opciones1  {
        display: none;
    }

    .opciones2 {
        display: none;
    }

    .banner {
        width: 100%;
    }

    .logo   {
        width: 50%;
        text-align: left;
        padding: 20px;
    }

    .barra-busqueda {
        width: 1%;
    }

    p {
        font-size: 12px
    }
    
    .titulares {
        font-size: 24px;
    }
    
    .precios {
        font-size: 18px;
        margin-right: 40px;
    }
    
    .descuentos {
        font-size: 16px;
        color: #39b54a;
    }
    
    .descripciones {
        font-size: 16px;
        display: none;
    }
    
    .top {
        background-color: #EAC926;
    }
    
    .producto {
        text-align: left;
        background-color: white;
        width: 100%;
        box-sizing: border-box;
        border-top: 1px solid #ebebeb;
        padding: 15px;
    }

    .organizador-oferta {
        display: flex;
    }


    footer {
        text-align: center;
        font-size: 12px;
    }

    .fa-credit-card {
        font-size: 2em;
        padding-bottom: 10px;
    }

    .fa-gift {
        font-size: 2em;
        padding-bottom: 10px;
    }

    .fa-user-shield {
        font-size: 2em;
        padding-bottom: 10px;
    }

    .burguer-menu {
        font-size: 1.5rem;
        margin: auto; 
        width: fit-content;
        border: solid 2px black;
        border-radius: 5px;
    }

    .fa-bars {
        background-color: blue;
        color: white;
        border: solid 1px #03264C;
        border-radius: 5px;
    }

    .circulo {
        width: 20px;
        height: 100%;
        padding: 5px;
        border: solid 1px #39b54a;
        border-radius: 25px;

    }

    .fa-truck {
        text-align: left;
    }

    article {
        width: 90%;
        padding: 10%;
    }

    img {
        width: 100%; /* utiliza todo el ancho disponible */
        
    }

    main {
        text-align: center;
        width: 90%;
    }


/* tablets */
@media (min-width: 431px) {
    .descripciones {
        display: block;
    }

    .producto {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .imagen-producto {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .opciones1 {
        display: flex;
    }

    .opciones2 {
        display: flex;
    }

    .burguer-menu {
        display: none;
    }


    section {
        width: 20%;
        display: flex;
        flex: wrap;
        justify-content: space-between;
        align-items: flex-start;

    }
    
    article {
        padding-right: 2%;
        padding-left: 2%; 
    }
   
}

/* desktop */
@media (min-width: 769px) {

}

}

