<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="/css/styleslogin.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8684e76fee.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="top">
    <div class="top-tablet"> 
        <div class="header-top">
        <img src="/img/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre" class="logo">
        <div class="barra-busqueda"><form action="#" method="get">
            <!-- <i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i> ICONO DE BUSQUEDA QUE NO ESTOY UTILIZANDO--> 
            <input type="text" id="busqueda" name="busqueda" placeholder="Buscar productos, marcas">
            <input type="submit" value="🔎">
        </form></div>
        </div>
        <p class="cuotas"><i class="fa-solid fa-hand-holding-dollar" style="color: #000000;"></i>Compra en cuotas y sin tarjeta de credito</p>
    </div>
    <div class="opciones">
        <ul class="opciones1">
            <a href = "" target ="_blank"><li>Ofertas</li></a>
            <a href = "" target ="_blank"><li>Tiendas Oficiales</li></a>
            <a href = "" target ="_blank"><li>Vender</li></a>
            <a href = "" target ="_blank"><li>Ayuda</li></a>
        </ul>

        <ul class="opciones2">
            <a href = "" target ="_blank"><li>Crea tu cuenta<i class="fa-solid fa-id-card" style="color: #000000;"></i></li></a>
            <a href = "" target ="_blank"><li>Ingresa<i class="fa-solid fa-right-to-bracket" style="color: #000000;"></i></li></a>
            <a href = "" target ="_blank"><li>Mis compras<i class="fa-solid fa-cart-shopping" style="color: #000000;"></i></li></a>
        </ul>
    </div>
        <div class="burguer-menu"><i class="fa-solid fa-bars fa-xl" style="color: #FFFFFF"></i></i></div>
    </header>

    <main>
    <div class="campos">
        <form action="" method="POST">
            <label>
                <div class="user"><input type="text" placeholder="Nombre de usuario" style="width: 400px; height: 30px; border: 1px solid #ebebeb;"></div>
                <div class="password"><input type="password" placeholder="Contraseña" style="width: 400px; height: 30px; border: 1px solid #ebebeb;"></div>
            </label>
            <label>
                <div class="boton">
                    <div class="enviar"><button type="submit">Enviar</button></div>
                </div>
            </label>
        </form>
    </div>
    </main>



    <footer>

        <div class="tarjeta"><h3><p><i class="fa-solid fa-credit-card" style="color: #1259c3;;"></i></p>
            Pagá con tarjeta o en efectivo</h3>
            <p class="texto-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en <br>
                puntos de pago. ¡Y siempre es seguro!</p></div>
        <div class="envio"><h3><p><i class="fa-solid fa-gift" style="color: #1259c3;;"></i></p>
            Envío gratis desde $ 2.500</h3>
            <p class="texto-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de <br>
                productos. Es un beneficio de Mercado Puntos.</p></div>
        <div class="seguridad"><h3><p><i class="fa-solid fa-user-shield" style="color: #1259c3;;"></i></p>
            Seguridad, de principio a fin</h3>
            <p class="texto-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, <br>
                porque estás siempre protegid@.</p></div>
        <div class="copy"><h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3></div>

    </footer>